<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<script>
  	 onDashboard = function(){
  	 	location='dashboard';
  	 };
  	 onCustomers = function(){
  	 	location='customers';
  	 };
  	 onAboutus = function(){
  	 	location='aboutus';
  	 };
  	 onLogout = function(){
  	 	location='login';
  	 };
     addCustomer = function(){
      location='add-customer';
     }  

  	</script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="onDashboard()">Dashboard</button> | 
    <button onclick="onCustomers()">Customers</button> | 
    <button onclick="onAboutus()">Aboutus</button> | 
    <button onclick="onLogout()">Logout</button>
    <hr/>
    <button onclick="addCustomer()">Add Customer</button> <br/><br/>
     <div class="page-data">
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="20px">Id</th>
                    <th  width="250px">Name</th>
                    <th width="220px">Email</th>
                    <th width="100px">Phone</th>
                    <th width="300px">Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% if(data.length){                           
                for(var i = 0;i < data.length;i++) { %>       
                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].email%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i].address%></td>
                    <td><button onclick="doEdit(<%=data[i].id%>);" >Edit</button></td>
                    <td><button onclick="doDelete(<%=data[i].id%>);">Delete</button></td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="4">No users</td>
                 </tr>
            <% } %> 
            </table>
         </div>
        </div>
  </body>
</html>
